@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font-family{
    font-family: "Inter", sans-serif;
}
.noto-serif-font{
    font-family: "Noto Serif", serif;
}
header{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 100px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 135px;
}
.nav-items ul, .nav-items-responsive ul{
    display: flex;
    gap: 48px;
}
.nav-items ul li,.nav-items-responsive ul li{
    list-style: none;

}
.nav-items ul li a, .nav-items-responsive ul li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
    font-family: Inter;
}
.nav-items .item-1,.nav-items .item-4, .nav-items-responsive .item-4,.nav-items-responsive .item-1{
    font-weight: 600;
    color: rgba(37, 36, 50, 1);
}
.nav-items-responsive{
    display: none;
}
/* banner section design */
.banner{
    display: flex;
    align-items: center;
}


.banner-title-name{
    font-size: 4rem;
    font-weight: 600;
    font-family: "Noto Serif";
    color: rgba(233, 90, 8, 1);
}
.banner-title-highlight{
    color: rgba(0, 0, 0, 1);
}
.banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 400;
}
/* main part design by styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* plants section design */
.plants-content{
    text-align: center;
}
.plans-title-name{
    font-family: "Noto Serif";
    font-size: 3rem;
    font-weight: 600;
    color: rgba(233, 90, 8, 1);
}
.plants-description{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 400;
}
.card-items{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-items: center;
}
.card{
    max-width: 270px;
    margin-top: 30px;
}
.card-content{
    color: rgba(17, 17, 17, 1);
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin: 30px 0;
}
.card-name{
    margin: 5px 0;
}
.card-price{
    font-weight: 600;
    margin: 0;
}
.primary-btn{
    color: rgba(255, 255, 255, 1);
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 400;
    background: rgba(233, 90, 8, 1);
    padding: 25px 50px;
    border: none;
    width: 100%;
}
/* flower and plants love design styles */


.flower-and-plants{
    display: flex;
    gap: 60px;
    align-items: center;
}

.flower-plant-title-name{
    color: rgba(0, 0, 0, 1);
    font-family: "Noto Serif";
    font-size: 3rem;
    font-weight: 600;
}
.flower-plant-description{
    color: rgba(0, 0, 0, 0.5);
    font-family:" Inter";
    font-size: 1.3rem;
    font-weight: 400;
}
.flower-plant-description {
    display: grid;
    gap: 20px;
}
.flower-image{
    position: relative;
    display: inline-block;
}
.flower{
    /* width: 100%; */
    display: block;
}
.trusted-badge{
   width: 280px;
   height:auto;
   position: absolute;
   right:-120px;
   top: -120px;
   
}

/* discount section design */

.discount{
    display: flex;
    justify-content: space-around;
   
    
    
}
.discount-1{
    max-width:38%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
   
}
.discount-1 h2{
    color: rgba(255, 255, 255, 1);
    font-family: "Noto Serif";
    font-size: 1.25rem;
    font-weight: 600;

}
.discount-1 a{
    color: rgba(255, 255, 255, 1);
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 400;
}
.discount-one{
    background-image: url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    padding: 60px 50px;
    /* background-size: 100%; */
}
.discount-two{
    background-image: url(assets/deal-ana.png);
    background-repeat: no-repeat;
    padding: 60px 50px;
    border-radius: 15px;
    /* background-size: 100%; */
}
.discount-2{
    max-width: 58%;
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    padding: 160px 125px;
    text-align: center;
    border-radius: 15px;
   
}
.discount-2 h2{
    color: rgba(255, 255, 255, 1);
    font-family: "Noto Serif";
    font-size: 2.5rem;
    font-weight: 600;
}
.discount-2 a{
    color: rgba(255, 255, 255, 1);
    font-family: "Inter";
    font-size: 1.8rem;
    font-weight: 400;
}
/* colorful bunch design  */
.bunch{
    max-width: 1440px;
    margin: auto;
    text-align: center;
    background-image: url(assets/news-letter-bg.png);
    padding: 150px 10px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.bunch-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
   

}
.bunch h2{
    color: rgba(255, 255, 255, 1);
    font-family: "Noto Serif";
    font-size: 3rem;
    font-weight: 600;
}
.bunch input{
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 400;
    
}
.input-type{
    color: rgba(0, 0, 0, 0.5);
    padding: 26px 20px;
    border: none;

    
}
.subscribe-btn{
    color: rgba(255, 255, 255, 1);
    padding: 26px 50px;
    background: rgba(233, 90, 8, 1);
    border: none;
    cursor: pointer;
}
/* footer style design */
.footer{
    max-width: 1140px;
    margin:60px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:110px ;

    /* padding: 50px 160px; */
}
.footer-content{
    max-width: 280px;
}
.footer-description{
    color: rgba(0, 0, 0, 0.5);
    font-family: "Inter";
    font-size: 1.3rem;
    font-weight: 400;
}
.footer-items{
    display: flex;
    gap: 110px;
    
}
.footer-items ul{
    padding: 0;
}
.footer-items li{
    list-style: none;
    margin-bottom:32px ;
    

}
.footer-items li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Inter";
    color: rgba(107, 114, 128, 1);
    
}

.footer-icon{
    display: flex;
    gap: 24px;
}


/* small device with responsive design */
@media screen and (max-width:576px) {
    
    .nav-items-responsive{
        display:block;
    }
    .nav-items{
        display: none;
        
    }
    .nav-items-responsive ul{
        gap: 25px;
    }
    .logo img{
    width: 80px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-image img, .card img, .flower-image img{
    width: 100%;
    }
    .card{
        max-width: 170px;
    }
    .card-items{
        grid-template-columns: repeat(2,1fr);
        
    }
    .flower-and-plants,
    .discount,
    .bunch-input,
    .footer,
    .footer-items
    {
        flex-direction: column;
    }

    .trusted-badge{
        display: none;
    }

    .bunch{
        padding: 90px 10px;
        align-items: center;
    }
    .discount-1{
        
        margin-bottom: 15px;
    }
    .discount-2, .discount-1{
        max-width: 100%;
    }
    .discount-2{
        padding: 70px;
    }
    .discount-2 h2{
        font-size: 1.25rem;
    }
    .discount-2 a{
         font-size: 1rem;
        
    }
    .discount-one, .discount-two{
        background-size: 100%;
    }
    .footer,
    .footer-items{
        gap: 0px;
        align-items: start;
    }
}

/* medium device responsive design */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner{
        flex-direction: column-reverse;
    }
    
    .card-items{
        grid-template-columns: repeat(3,1fr);
        
    }
    .discount{
        gap: 30px;
        
        
    }
    .discount-1{
        gap: 0px;
    }
    .trusted-badge{
        width: 180px;
        top: -90px;
        right: -90px;
    }
}